apiVersion: {{ template "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-blog
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}-blog
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}-blog
    spec:
      containers:
      - name: {{ template "fullname" . }}-blog
        image: "{{.Values.image.registry}}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        {{- if .Values.mariadb.enabled }}
          - name: MARIADB_HOST
            value: {{ include "blog.databaseHost" . | quote }}
          - name: MARIADB_PORT
            value: {{ include "blog.databasePort" . | quote }}
          - name: MARIADB_DATABASE_NAME
            value: {{ include "blog.databaseName" . | quote }}
          - name: MARIADB_DATABASE_USER
            value: {{ include "blog.databaseUser" . | quote }}
          - name: MARIADB_DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "blog.databaseSecretName" . | quote }}
                key: mariadb-password
      {{ end }}
      {{- if .Values.extraEnv }}
      {{- include "blog.tplValue" (dict "value" .Values.extraEnv "context" $) | nindent 12 }}
      {{- end }}
        ports:
        - containerPort: {{ .Values.blogService.blogPort }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
        readinessProbe:
          tcpSocket:
            port: {{ .Values.blogService.blogPort }}
          initialDelaySeconds: 10
          timeoutSeconds: 5
        lifecycle:
          postStart:
            exec:
              command: [ "/bin/sh", "-c", "cp -r /var/www/. /var/www/blog" ]
        volumeMounts:
          - name: blog-pvc #用到定义的存储卷
            mountPath: /var/www/blog  #目录映射 /var/www/blog 到存储卷 code
      volumes:
        - name: blog-pvc
          persistentVolumeClaim:
            claimName: {{ template "fullname" . }}-pvc

---
apiVersion: {{ template "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-nginx
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}-nginx
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}-nginx
    spec:
      containers:
      - name: {{ template "fullname" . }}-nginx
        image: "bitnami/nginx:latest"
        imagePullPolicy: {{ default "" .Values.image.pullPolicy | quote }}
        ports:
        - name: http
          containerPort: {{ .Values.nginxService.internalPort }}
        - name: https
          containerPort: 8443
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          timeoutSeconds: 1
        volumeMounts:
        - name: nginx-config
          mountPath: /opt/bitnami/nginx/conf/server_blocks
        - name: blog-pvc
          mountPath: /var/www/blog
      volumes:
        - name: nginx-config
          configMap:
            name: {{ template "fullname" . }}
        - name: blog-pvc
          persistentVolumeClaim:
            claimName: {{ template "fullname" . }}-pvc
